/* !CSS */

/* commence primary ignition */

* {
    box-sizing: border-box;
  }

/* end primary ignition */

/* start product */

.product div {
  width: auto;
  height: auto;
}
a {
  text-decoration: none;
}
.product img {
  margin-bottom: 1rem;
}
.product li {
  width: 22%;
  font-weight: 600;
  margin-bottom: 1rem;
}
div.button {
  width: 6rem;
  height: 3rem;
  background-color: pink
}
#button {
  width: 6rem;
  padding-top: .95rem;
  display: block;
  text-align: center;
}

/* end product */ 